body{
    
    background-color: rgb(146, 184, 255);
    
}
h1{
    
    padding-left: 500px;;
    
}
#p1{
    padding-left:540px;
}
img{
    height: 300px;
    width: 450px;
    margin-left: 420px;
}